@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

#root{
    @include mixins.flex(column,center,center);
    box-sizing: border-box;
    padding: 0 variables.$padding-page-border;
    //background: variables.$color-bg;
    background-image: url("https://raw.githubusercontent.com/Cehesse/Portfolio/main/Front-end/src/assets/img/bg.webp");
}

.App{
    @include mixins.flex(column,center,center);
    @include mixins.w-h-100;
}

.pages{
    @include mixins.w-h-100;
    @include mixins.flex(column,center,center);
    min-height: 80vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: variables.$font;
}

a{
    text-decoration: none;
}