@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.about-page{
    @include mixins.flex(column,center, center);
    row-gap: 1rem;
    text-align: center;
    color: variables.$color-white;
    &_title{
 
    }
    &_subtitle{
       
    }
    &_link{
        
    }
}