@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.about-page{
    @include mixins.flex(column,center, center);
    row-gap: 1rem;
    text-align: center;
    color: variables.$color-white;
    &_title{
        @include mixins.w-h-100;
        color: variables.$color-tertiary;
        font-size: 4rem;
        text-align: center;
        @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
            font-size: 3rem;
        }
    }

}

.formation{
    &_list{
        @include mixins.flex(column,center, center);
        padding: 2rem 0;
        row-gap: 2rem;
        color: variables.$color-primary;
        width: 90%;
    }
    &_item{
        @include mixins.flex(column,center,flex-start);
        @include mixins.w-h-100;
        row-gap: 0.5rem;
        padding: 1rem;
        border-radius: 25px;
        border: solid 2px variables.$color-tertiary;
        text-align: left;
        & h3{
            font-size: variables.$font-size-large;
            font-weight: variables.$font-weight-blod;
            @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
                font-size: variables.$font-size-medium;
            }
        }
        & p{
            font-size: variables.$font-size-medium;
            font-weight: variables.$font-weight-medium;
        }
    }
}

.competenceslogos{
    &_list{
        @include mixins.flex(row,center, center);
        padding: 2rem;
        column-gap: 2rem;
        row-gap: 2rem;
        color: variables.$color-primary;
        flex-wrap: wrap;
    }
    &_icon{
        width: 6rem;
        row-gap: 0.5rem;
        padding: 1rem;
        border-radius: 25px;
        border: solid 2px variables.$color-tertiary;
    }
}

.competences{
    &_text{
        @include mixins.flex(row,center, center);
        padding: 2rem 0;
        column-gap: 7rem;
        color: variables.$color-primary;
        @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
            column-gap: 2rem;
            padding: 2rem;
        }
    }
    &_list{
        @include mixins.flex(column,center, center);
        row-gap: 2rem;
    }
    &_item{
        color: variables.$color-primary;
        font-size: variables.$font-size-large;
        font-weight: variables.$font-weight-blod;
        @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
            font-size: variables.$font-size-medium;
        }
    }
}