@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.projet-page{
    @include mixins.flex(column,center,center);
    width: 100%;
    padding: 24px 2%;
}

.section-description{
        @include mixins.flex(row,center,center);
        width: 100%;
        &_title{
            color: variables.$color-secondary;
            font-size: 36px;
            padding: 8px 0;
            @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
                font-size: 18px;
            }
        }
        &_links{
            padding: 24px 0;
            @include mixins.flex(row,flex-start,center);
            flex-wrap: wrap;
            column-gap: 8px;
            row-gap: 8px;
            & button{
                color: variables.$color-white;
                background-color: variables.$color-primary;
                border: variables.$color-primary;
                border-radius: 10px;
                padding: 4px 24px;
                font-size: 14px;
                font-weight: variables.$font-weight-medium;
                @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
                    font-size: 10px;
                }
            }
        }
        &_collapse{
            width: 95%;
            @media screen and (max-width: map-get(variables.$breakpoints, mobile)){
                width: 100%;
                padding: 16px 0;
            }
        }
    }