@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.card{
    @include mixins.flex(column,center,center);
    position: relative;
    width: 15rem;
    border-radius: 5px;
    overflow: hidden;
    @include mixins.bg-2();
    border: 0.125rem solid variables.$color-tertiary;
    &_img{
        object-fit: cover;
        width: auto;
        height: auto;
        padding: 1rem;
        }
    &_title{
        padding: 0.5rem;
        text-align: center;
        color: variables.$color-tertiary;
    }
    &_text{
        padding: 0.5rem;
        text-align: center;
        color: variables.$color-secondary;
    }
}