@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.carousel{
    @include mixins.flex(column,center,center);
    position: relative;
    width: 34rem;
    height: 34rem;
    border: solid 0.125rem variables.$color-tertiary;
    &_img{
        position: absolute;
        @include mixins.w-h-100;
            & img{
                @include mixins.w-h-100;
                object-fit: cover;
                position: absolute;
            }
    }
    &_arrow--left{
        position: absolute;
        z-index: 1;
        left: 2%;
        top: 45%;
        width: 4rem;
        }
    &_arrow-right{
        position: absolute;
        z-index: 1;
        right: 2%;
        top: 45%;
        width: 4rem;
        }
    &_num{
        position: absolute;
        z-index: 1;
        right: 50%;
        top: 90%;
        color: variables.$color-white;
    }
}
