@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.card{
    @include mixins.flex(column,center,center);
    position: relative;
    width: 240px;
    border-radius: 5px;
    overflow: hidden;
    @include mixins.bg-1();
    border: 1px solid variables.$color-tertiary;
    &_img{
        object-fit: cover;
        opacity: 0.5;
        width: auto;
        height: auto;
        padding: 16px;
        }
    &_title{
        padding: 16px;
        text-align: center;
        color: variables.$color-tertiary;
    }
}