@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.collapse{
    @include mixins.flex(column,flex-start,flex-start);
    &_title{
        @include mixins.flex(row,space-between,center);
        @include mixins.w-h-100;
        background: variables.$color-secondary;
        border-radius: 5px;
        color: variables.$color-primary;
        padding: 0.5rem 1rem;
        }
    &_text{
        @include mixins.w-h-100;
        color: variables.$color-secondary;
        background: variables.$color-primary;
        padding: 1rem 0.125rem;
        animation: 0.2s cubic-bezier(1,0,1,0) 1 normal both collapse;
            &--hidden{
            visibility: hidden;
            color: variables.$color-secondary;
            height: 0;
            transition: all 0.05s;
            }
            &--item{
            font-weight: variables.$font-weight-medium;
            }
        }
    &_arrow--down{
        transform: rotate(180deg);
        }

}

@keyframes collapse {
    0% {
        opacity: 0;
        transform: scaleY(0);
        transform: translateY(-5%);
        transform-origin: 0 0;
    }
    75% {
        transform: scaleY(0.5);
        opacity: 0.5;
        transform: translateY(0%);
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}