@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.footer-section{
    @include mixins.flex(row,center,center);
    width: 100%;
    background-color: variables.$color-primary;
    border-radius: 25px;
    padding: 32px 2%;
    &_text {
        font-size: variables.$font-size-large;
        }
    &_logo{
        width: 100px;
        height: 100px;
    }

}