@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.header-section{
    @include mixins.flex(row,space-between,center);
    @include mixins.w-h-100;
    @include mixins.bg-2();
    height: 10vh;
    padding: 1rem 2%;
    &_img {
        height: 5rem;
        width: 5rem;
        }
    &_title {
            display: none;
        }

}